<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" media="print" onload="this.media='all'">
        
        <link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any">
        <link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml">

        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    </head>
    <body>
        <div class="container">
            <div class="main-box">

                <header class="blog-header animate-on-scroll">
                    <h1 class="blog-title">
                        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
                    </h1>
                    <a href="{{ metadata.author.url }}" class="back-to-site" target="_blank">Вернуться на главный сайт →</a>
                </header>

                <main>
                    {{ content | safe }}
                </main>

                <footer class="footer">
                    <p>&copy; {{ metadata.currentYear }} {{ metadata.author.name }}.</p>
                </footer>
            </div>
        </div>

        <script src="{{ '/js/main.js' | url }}" defer></script>
    </body>
</html>
